# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*
pwn-report.[0-9]*
pid-*.csv
*.pid

# Dependencies
node_modules
.pnp
.pnp.js

# Build Output
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Environment variables (Critical for security)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Vite-specific
public/hot